.about-page-container {
  ._page-title {
    text-align: center;
    margin-top: 1rem;
  }
  ._image {
    width: 100vw;
  }
  ._text-body {
    margin: 0 15rem 2rem 15rem;
    text-align: justify;
  }
}

.list-item {
  margin-bottom: 8px;
}

.safe-swimming-container {
  display: flex;
  margin: 1rem 0;

  ._image {
    width: 60%;
    border-radius: 3px;
  }
  li:first-child {
    margin-top: 0.3rem;
  }
  li:not(:last-child) {
    margin-bottom: 8px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.about-carousel {
  ._img {
    width: 100%;
    height: 450px;
  }
}
