.homepage-container {
  background-image: url("../assets/RedSwimming.jpg");
  max-width: 100%;
  height: calc(100vh - 56px);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(195, 190, 190);

  ._text-body {
    border: 2px solid rgb(195, 190, 190);
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 15%;
    left: 7%;
    width: 22%;
    color: rgb(195, 190, 190);
  }
}

.error-response {
  color: red;
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
}
