// MyAccount styling
.standard-heading {
  padding: 25px;
}
.user-bio-container {
  display: flex;
  padding: 25px;
  margin: 0 50px 25px 50px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  ._bio-text {
    display: flex;
    margin-right: 45px;
    width: 50%;
    text-align: justify;
    font-size: 20px;
  }

  ._profile-picture {
    width: 50%;
    border: 20px solid black;
    border-radius: 5%;
  }
}

// SingleSwimSitCard styling
.account-card-container {
  padding: 1rem;
  width: 20rem;
  ._tile-container {
    display: flex;
    justify-content: space-between;

    ._delete-button {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      padding-top: 0.15rem;
      padding-bottom: 0.35rem;
      text-align: center;
    }
  }

  ._image {
    border-radius: 5px;
  }
}

.account-card-button {
  display: flex;
  justify-content: center;
}

// MyAccount styling
@media (max-width: 900px) {
  .user-bio-container {
    flex-direction: column-reverse;

    ._bio-text,
    ._profile-picture {
      width: 100%;
    }

    ._profile-picture {
      border: 10px solid black;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .user-bio-container {
    ._bio-text {
      font-size: 18px;
    }
  }
}
