// SingleSwimSite Page Content
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;

  ._heart {
    font-size: 45px;
    cursor: pointer;
  }

  ._current-favorite {
    color: red;
  }

  ._not-favorited {
    color: grey;
  }
}

.error-container {
  text-align: center;
  width: 40%;
  margin: auto;
  color: rgb(225, 69, 69);
}

._error-delete-button {
  font-size: small;
  padding: 0.3rem;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 18px;
  color: rgb(225, 69, 69);
  border: 1px solid rgb(225, 69, 69);
}

.card {
  position: static;
}

.card-img-single-site {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-container .text-body {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.text-body {
  width: 70%;
}

// Comment Section
.comments-section {
  width: 70%;
  margin: 0 auto;

  .comments-header {
    margin-top: 2rem;
  }

  & ul {
    list-style: none;
    padding: 0;
  }
}

// Comment Card
.comment-card-container {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.comment-card-container img {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  margin: auto 0;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  cursor: pointer;
}

.comment-body-container {
  width: 100%;
}
.comment-title {
  display: flex;
  justify-content: space-between;
}
._delete-button,
.close-update-button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.35rem;
  text-align: center;
}

.close-update-button {
  margin: 5px 0;
}

.comment-text-field {
  margin: 5px 0;
  margin-right: 5px;
}

.comment-text {
  margin-right: 30px;
}

.comment-text.with-button {
  display: flex;
}

.edit-comment-button {
  font-style: italic;
  text-decoration: none;
  font-size: 12px;
}

.date-stamp-text {
  font-size: 12px;
  color: grey;
  font-style: italic;
}

@media (max-width: 580px) {
  .comment-card-container {
    flex-direction: column;
    align-items: center;

    & img {
      margin-top: 20px;
    }
  }

  .comment-text {
    text-align: justify;
    margin-right: 0;
    margin-top: 10px;
  }
}

.edit-comment-button {
  padding-left: 0;
}
