.region-description {
  background-color: #0b5ed7;
  color: white;
  margin: 20px 100px 40px 100px;
  padding: 30px;
  border-radius: 10px;
  line-height: 30px;
  text-align: justify;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 575px) {
  .region-description {
    font-size: 14px;
    margin: 20px 50px 40px 50px;
  }
}
