.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 93.9vh;
}
.form-page {
  overflow: hidden;
}

.sign-in {
  background-image: url("../assets/ClearWater.jpg");
  background-size: cover;
}

.register-page {
  background-image: url("../assets/Waterfall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: left;
}

.user_forms {
  background-color: white;
  min-height: 320px;
  max-height: 400px;
  width: 450px;
  padding: 30px;
  border-radius: 10px;
}

.user_forms_header {
  text-align: center;
}

.signIn_button {
  margin-top: 30px;
}

.register_form_container {
  margin-left: 10%;
  margin-top: 0.5%;

  .form-label {
    margin-bottom: 0;
  }
}
.register-form {
  min-height: 800px;
  background-color: white;
}
